  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
}

/* Header */
header {
  text-align: center;
  padding: 25px;
  background: linear-gradient(45deg, #4f46e5, #7c3aed);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

 

header button {
  background: rgba(255,255,255,0.2);
  margin-bottom: 10px;
}

header button:hover {
  background: rgba(255,255,255,0.3);
}

/* الصفحة الرئيسية */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 15px;
}

/* البطاقات */
.card {
  background: rgba(255,255,255,0.06);
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgba(255,255,255,0.08);
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(255,255,255,0.12);
}

/* الأدوات */
.tool {
  background: rgba(255,255,255,0.06);
  padding: 18px;
  margin: 20px auto;
  border-radius: 15px;
  width: 90%;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.08);
}

/* Inputs */
input {
  width: 85%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Buttons */
button {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #2563eb;
}

/* شاشة الحاسبة */
.screen {
  background: black;
  color: #00ff88;
  font-size: 28px;
  padding: 15px;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 10px;
}

/* أزرار الحاسبة */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  padding: 15px;
  font-size: 18px;
  background: #1f2937;
}

.buttons button:hover {
  background: #374151;
}

.clear {
  grid-column: span 4;
  background: #ef4444 !important;
}

/* النتائج */
#pass,
#result,
#ageResult,
#bmiResult {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  word-break: break-word;
}

#timerResult {
  margin-top: 15px;
  font-size: 28px;
  font-weight: bold;
}



 /* صفحة سياسة الخصوصية */

.privacy-container{
    max-width:900px;
    margin:20px auto;
    background:#ffffff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    color:#2c3e50;
    line-height:1.8;
}

.privacy-container h1{
    text-align:center;
    color:#2c3e50;
    margin-bottom:20px;
}

.privacy-container h2{
    color:#3498db;
    margin-top:25px;
}

.privacy-container p{
    margin-bottom:15px;
}

.back-btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#3498db;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-size:16px;
}

.back-btn:hover{
    background:#2980b9;
}



/* شريط العنوان */
.top-bar{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  flex-wrap:wrap;
}

 .top-bar h1{
  margin:0;
  font-size:18px;
  border-bottom: 2px solid white;
}

 .top-bar p{
  margin:0;
  font-size:18px;
   border-bottom: 2px solid white;
}

.privacy-btn{
  display:inline-block;
  padding:10px 18px;
  background:rgba(255,255,255,0.15);
  border:1px solid rgba(255,255,255,0.15);
  color:white;
  text-decoration:none;
  border-radius:10px;
  transition:.3s;
}

.privacy-btn:hover{
  background:rgba(255,255,255,0.25);
}


/* الهواتف */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .tool {
    width: 95%;
  }

  .screen {
    font-size: 24px;
  }
}
